{% extends 'base.html' %}

{% block title %}
    Lessond Detail
{% endblock %}

{% block meta_description %}
    Education Center home page
{% endblock %}

{% block meta_keywords %}
   
{% endblock %}


{% block content_wrapper %}

<div class="container p-2 mt-5 big-paper-wrapper shadow-lg">

    <div class="container my-4">
        <div class="row align-items-center">
            <!-- Course Details -->
            <div class="col-12 col-sm-6 mb-3 text-center text-sm-start">
                <a href="{% url 'dashboard' %}" class="btn btn-info">
                    Back to Dashboard
                </a>
                <b style="font-style:italic;" class="d-block mt-3">Course:</b>
                <label style="font-style:italic;" class="d-block mb-3">{{ lesson.course.title }}</label>
            </div>
    
            <!-- Action Buttons -->
            <div class="col-12 col-sm-6 text-center">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                    <a href="{% url 'dashboard' %}" class="btn btn-info">
                        Previous Page
                    </a>
                    <a href="{% url 'dashboard' %}" class="btn btn-warning">
                        Mark as Finished
                    </a>
                    <a href="{% url 'dashboard' %}" class="btn btn-success">
                        Next Page
                    </a>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container mt-1">
        <div>
            <b style="font-style:italic;">Lesson:</b>
            <label style="font-style:italic;">{{ lesson.title }}</label>
        </div>
    </div>


    <hr>
    <div class="container-fluid">
        <!-- Main Wrapper -->
        <div class="row">
            <!-- Main Content -->
            <div class="col-12 col-md-8 p-3" id="test-ck">
                {{ lesson.content|safe }}
            </div>
            <!-- Sidebar --> 
            <div class="col-12 col-md-4 p-3">
                <h5>Table of Contents</h5>
                <ul class="list-unstyled">
                    {% for item in toc %}
                        <li class="ms-{{ item.level|slice:'1' }}"> <!-- Adjust indentation by heading level -->
                            <a href="#{{ item.id }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-around my-4">
        <a href="{% url 'dashboard' %}" class="btn btn-info">
            Previous Page
        </a>
        <a href="{% url 'dashboard' %}" class="btn btn-warning">
            Mark as Finished
        </a>
        <a href="{% url 'dashboard' %}" class="btn btn-success">
            Next Page
        </a>
    </div>
</div>


<style>
#test-ck img {
    max-width: 100%; /* Ensures images do not overflow the container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Prevents inline image spacing issues */
}

.list-unstyled a {
    text-decoration: none;
    color: #007bff;
}

.list-unstyled a:hover {
    text-decoration: underline;
}


</style>


<style>

    .image-style-align-left {
        float: left;
        margin-right: 10px;
    }
    .image-style-align-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .image-style-align-right {
        float: right;
        margin-left: 10px;
    }
    /* CSS styles for the blockquote */
    blockquote.styled {
        width: 90%;
        margin: 10px auto;
        background-color: lightgray;
        border-radius: 20px;
        opacity: 0.8;
        padding: 20px; /* Add padding for visual separation */
    }
</style>
<script>
    document.querySelectorAll('oembed[url]').forEach(element => {
        const url = element.getAttribute('url');
        let iframe = document.createElement('iframe');
        iframe.className = 'my-frame mx-auto d-block';
        if (url.includes('youtube.com') || url.includes('youtu.be')) {
            const videoId = url.split('v=')[1]?.split('&')[0] || url.split('.be/')[1];
            iframe.src = `https://www.youtube.com/embed/${videoId}`;
            iframe.width = '560';
            iframe.height = '315';
            iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture';
            iframe.allowFullscreen = true;
        } else if (url.includes('twitter.com')) {
            // Handling Twitter embedding using iframe is not straightforward; you might need to use Twitter's embed code
            iframe = document.createElement('blockquote');
            iframe.className = 'twitter-tweet';
            iframe.innerHTML = `<a href="${url}"></a>`;
            // Load Twitter's widgets.js script to render the tweet
            const script = document.createElement('script');
            script.setAttribute('src', 'https://platform.twitter.com/widgets.js');
            document.body.appendChild(script);
        }
        const figure = element.parentElement;
        figure.innerHTML = '';
        figure.appendChild(iframe);
    });
</script>
   <style>
    .twitter-tweet {
        margin-left: auto;
        margin-right: auto;
    }
</style>
    
{% endblock %}

{% block extra_js %}
{% endblock %}

